<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1 style="color: blue">Index</h1>
  <p>This is an HTML file served up by Flask</p>
</body>

<script>
    let apihostname = window.location.href.replace("frontend", "backend").replace("8080", "8081");
    // example of fetch working with github
    fetch('https://api.github.com').then(a=>a.json()).then(result=>console.log(result['current_user_url']))
    fetch(apihostname).then(a=>a.json()).then(result=>console.log(result))

</script>

</html>